.transaction {
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align: center;
    box-shadow: 5px 5px 15px 5px rgb(162, 61, 101);
}

table {
    border-collapse: initial;
    border-spacing: 1px;
}

thead {
    background-color: rgb(245, 195, 109);
}

th {
    height: 50px;
}

tr:nth-child(2n) {
    background-color: rgb(217, 96, 238);
}